/* CSS Variables */
:root {
  --color-primary: #e9a7a7;
  --color-secondary: #e9a7a7;
  --color-third: #1e2a4d;
  --color-highlight: #000f3c;

  --color-grey-light-1: #f3f3f3;
  --color-grey-medium-1: #c9c9c9;
  --color-grey-dark-1: #777;
  --color-white: #fff;
  --color-black: #000;

  --bg-gradient-primary: linear-gradient(to right bottom, #c1272d,#ff0000);
  --bg-gradient-secondary: linear-gradient(to right bottom, #fff, #f9f9f9);


  --default-font-size: 1.6rem;

  /* --box-shadow-1: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); */
  --box-shadow-1: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* line-height: 2.5rem; */
  font-family: 'Montserrat', sans-serif;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Setting root font-size for easy conversion of measurements and media queries 
  1rem = 10px */
html {
  font-size: 62.5%;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 6rem;
  overflow: hidden;
}

/* Buttons */
.btn:link,
.btn:visited {
  text-transform: none;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  /* border-radius: 10rem; */
  transition: all 0.2s;
  position: relative;
  font-weight: 700;
  font-size: 1.7rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--one {
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 2px solid var(--color-black);
  background-color: transparent;
  color: var(--color-black);
  font-size: 1.25rem;
  /* font-style: italic; */
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  transition: all 0.5s ease;
  transform: translateY(-3px);
  opacity: 0.9;
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); */
}
.btn--one:hover {
  /* opacity: 0.6; */
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Underlines */
.vl {
  border: px solid var(--color-black);
  height: 100%;
  justify-self: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.u-margin {
  margin: 2rem 6rem 2rem 7rem;
}

.underline {
  height: 2px;
  width: 10rem;
  background: var(--color-black);
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
}

.underline-2 {
  height: 2px;
  width: 10rem;
  background: var(--color-secondary);
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
}

.underline-l {
  height: 2px;
  width: 10rem;
  background: var(--color-secondary);
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 4rem;
}

.underline-r {
  height: 2px;
  width: 10rem;
  background: var(--color-secondary);
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
}













.hamburger {
  display: none;
  color: var(--color-black);
  margin-left: 0rem;
}

.hamburger-bars {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav__ul {
  display: none;
  position: relative;
}

.nav__mobile .nav__mobile-ul {
  display: none;
}

.nav__mobile .nav__mobile-ul.active {
  display: block;
}

.nav .hamburger {
  display: flex;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--color-white);
}

.nav .hamburger .hamburger-bars {
  align-self: right;
}

.nav__mobile {
  display: block;
  background-color: var(--color-grey-medium-1);
}

.nav__mobile ul {
  position: relative;
}

.nav__mobile .nav__mobile-ul li {
  list-style: none;
  padding: 1rem;
  font-weight: 400;
  color: var(--color-black);
  font-size: var(--default-font-size);
}

.nav__mobile .nav__mobile-ul a,
.nav__mobile .nav__mobile-ul i {
  cursor: pointer;
  color: var(--color-white);
  font-weight: 400;
}

.nav__mobile .nav__mobile-ul i {
  margin: 1rem;
}

.nav__mobile ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-white);
  width: 100%;
}















.header {
  height: 100vh;
  /* background-color: blue; */
  position: relative;
  background-image: url(../img/edward-background-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-box img {
  height: 6vh;
  margin: 3rem 0rem;
}

/* .header-box a {
  color: var(--color-white);
}
.header-box a:hover {
  color: var(--color-secondary);
} */

ul {
  display: flex;
  list-style: none;
  color: var(--color-white);
  transition: all 0.5s ease;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style: none;
  letter-spacing: 1.5px;
  padding: 0rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

a {
  color: var(--color-black);
  display: inline-block;
  list-style: none;
  transition: all 0.5s ease;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: var(--color-grey-medium-1);
}

.header-box {
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
  margin-bottom: 2rem;
  /* transform: translate(-50%, -50%); */
/*   justify-content: center; */
}

.header-box h1 {
  color: var(--color-black);
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.header-box p {
  color: var(--color-black);
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

/* Top Strip */
.strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}

.strip h4 {
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: center;
  padding: 0rem 1rem;
}

.strip h3 {
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  padding: 0rem 2rem;
}

.strip .fab {
  color: var(--color-white);
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 1rem 0rem 1rem;
}

.strip .fab:hover {
  color: var(--color-secondary);
}

.strip a {
  list-style: none;
  font-size: 2rem;
  color: var(--color-white);
  transition: all 0.5s ease;
  text-decoration: none;
}

.strip a:hover {
  color: var(--color-black);
}

/* edward */
.edward {
  position: relative;
  /* padding: 2rem 0; */
  background-color: var(--color-white);
  /* background-size: cover; */
}
  
.edward-box {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}
  
.edward-box .edward-box-header {
  flex: 1;
  flex-basis: 50%;
  text-align: center;
  margin: 0 4rem;
}
  
.edward-box .edward-box-text {
  flex: 2;
  flex-basis: 50%;
  text-align: center;
  margin: 0 0rem;
}

.edward-box h2 {
  color: var(--color-black);
  text-align: left;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.edward-box h3 {
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 3rem 0;
  font-weight: 600;
}

.edward-box p {
  color: var(--color-black);
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.edward-box a {
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.edward-box a:hover {
  opacity: 0.2;
}

.resize {
    width: 400px;
    height: auto;
}

.resize2 {
  width: 40px;
  height: auto;
}

  /* Features */

.features {
  position: relative;
  /* padding: 4rem 0; */
  background-color: var(--color-black);
  /* background-size: cover; */
}
  
.features-box {
  display: flex;
  /* flex-direction: column; */
  padding: 4rem 0;
  justify-content: space-evenly;
  align-items: center;
}
  
.features-box .features-box-image {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-basis: 50%;
  margin: 0 4rem;
}
  
.features-box .features-box-text {
  flex: 2;
  flex-basis: 50%;
  margin: 0 4rem;
  text-align: left;
}
  
.features-box .features-box-text h2 {  
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.features-box .features-box-text h2 span {
  font-weight: 200;
}
  
.features-box .features-box-text p {
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.features-box .features-box-text a {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.features-box .features-box-text a:hover {
  opacity: 0.2;
}

/* .features-box .features-box-text a {
  display: block;
  color: var(--color-black);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.6;
}

.features-box .features-box-text a:hover {
  color: var(--color-black);
} */
  
.features-box .features-box-image img {
    border: 2px solid var(--color-black);
    width: 400px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  /* Features-2 */

  .features-2 {
    position: relative;
    /* padding: 4rem 0; */
    background-image: var(--bg-gradient-secondary);
    /* background-size: cover; */
  }
    
  .features-2-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
    
  .features-2-box .features-2-box-image {
    flex: 1;
    flex-basis: 50%;
    margin-right: 2rem;
    padding: 2rem;
  }
    
  .features-2-box .features-2-box-text {
    flex: 2;
    flex-basis: 50%;
    padding: 2rem;
  }
    
  .features-2-box .features-2-box-text h2 {  
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: 400;
  }
  
  .features-2-box .features-2-box-text h2 span {
    color: var(--color-secondary);
    font-style: italic;
  }
    
  .features-2-box .features-2-box-text p {
    color: var(--color-grey-medium-1);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 3rem;
  }
  
  /* .features-2-box .features-2-box-text a {
    display: block;
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
  }
  
  .features-2-box .features-2-box-text a:hover {
    color: var(--color-grey-light-1);
  } */
    
  .features-2-box .features-2-box-image img {
    width: 100%;
  }

/* Face Off */
.face {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--color-white);
  padding: 4rem 0;
}

.face h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.face h2 span {
  font-weight: 200;
}

.face h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.face p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.face-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.face-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.face-item img {
  /* width: 100%; */
  border: 1px solid var(--color-grey-light-1);
  width: auto;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Simple Sprocket */
.sprocket {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: var(--bg-gradient-secondary);
  padding: 4rem 0;
}

.sprocket h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.sprocket h2 span {
  font-weight: 200;
}

.sprocket h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.sprocket p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.sprocket-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.sprocket-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.sprocket-item img {
  /* width: 100%; */
  border: 1px solid var(--color-grey-light-1);
  width: 250px;
  height: 250px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Viewing Devices */
.viewing {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--color-white);
  padding: 4rem 0;
}

.viewing h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.viewing h2 span {
  font-weight: 200;
}

.viewing h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.viewing p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.viewing-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.viewing-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.viewing-item img {
  /* width: 100%; */
  border: 1px solid var(--color-grey-light-1);
  width: 275px;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Concrete */
.concrete {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: var(--bg-gradient-secondary);
  padding: 4rem 0;
}

.concrete h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.concrete h2 span {
  font-weight: 200;
}

.concrete h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.concrete p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.concrete-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.concrete-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.concrete-item img {
  /* width: 100%; */
  /* border: 2px solid var(--color-black); */
  width: auto;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Team */
.team {
  background-image: var(--bg-gradient-secondary);
  position: relative;
  padding: 4rem 0;
}

.team h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.team h2 span {
  font-weight: 200;
}

.team__cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.team__card {
  background-color: var(--color-white);
  height: 30rem;
  width: 24rem;
  margin: 4rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.team__card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.team__card-img {
  width: 100%;
  text-align: center;
  border-radius: 50%;
  margin: 4rem 0;
}

/* .team__card-img img{
  width: 50%;
  text-align: center;
  border-radius: 50%;
} */

.team .tertiary-heading {
  color: var(--color-black);
  font-size: 2.25rem;
  font-weight: 700;
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
}

.team__card-text {
  font-size: 2rem;
  font-family: inherit;
  color: var(--color-white);
  letter-spacing: 1px;
  padding: 0 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.team .team__card p {
  display: block;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.team .team__card a {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1px;
}

.team .team__card a:hover {
  color: var(--color-grey-medium-1);
}




/* Media Queries */

/* Media Queries Laptops */
@media screen and (max-width: 1200px) {
}

/* Media Queries - Large Tablets*/
@media (max-width: 1024px) {
  .header .logo-box ul {
    display: none;
  }

  .header .logo-box img {
    height: 6rem;
  }

  .hamburger {
    display: block;
    color: var(--color-black);
    margin-left: 0rem;
  }

  .hamburger-bars {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .nav__ul {
    display: none;
    position: relative;
  }

  .nav__mobile .nav__mobile-ul {
    display: none;
  }

  .nav__mobile .nav__mobile-ul.active {
    display: block;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav .hamburger {
    display: flex;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-white);
  }

  .nav .hamburger .hamburger-bars {
    align-self: right;
  }

  .nav__mobile {
    display: block;
    background-color: var(--color-grey-medium-1);
  }

  .nav__mobile ul {
    position: relative;
  }

  .nav__mobile .nav__mobile-ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 400;
    color: var(--color-black);
    font-size: var(--default-font-size);
  }

  .nav__mobile .nav__mobile-ul a,
  .nav__mobile .nav__mobile-ul i {
    cursor: pointer;
    color: var(--color-white);
    font-weight: 400;
  }

  .nav__mobile .nav__mobile-ul i {
    margin: 1rem;
  }

  .nav__mobile ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }
  
  .face-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .sprocket-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .viewing-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .concrete-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

}

/* Media Queries - Small Tablets */
@media (max-width: 768px) {
  .header .logo-box ul {
    display: none;
  }

  .header .logo-box img {
    height: 5rem;
  }
  
  .team__card {
    height: 36rem;
    width: 28rem;
    margin: 4rem;
  }

  .features-box {
    display: inline-block;
    align-items: center;
  }

  .features-box .features-box-text {
    text-align: center;
  }

  .edward-box {
    display: inline-block;
  }

 
  .hamburger {
    display: block;
    color: var(--color-black);
    margin-left: 0rem;
  }

  .hamburger-bars {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .nav__ul {
    display: none;
    position: relative;
  }

  .nav__mobile .nav__mobile-ul {
    display: none;
  }

  .nav__mobile .nav__mobile-ul.active {
    display: block;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav .hamburger {
    display: flex;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-white);
  }

  .nav .hamburger .hamburger-bars {
    align-self: right;
  }

  .nav__mobile {
    display: block;
    background-color: var(--color-grey-medium-1);
  }

  .nav__mobile ul {
    position: relative;
  }

  .nav__mobile .nav__mobile-ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 400;
    color: var(--color-black);
    font-size: var(--default-font-size);
  }

  .nav__mobile .nav__mobile-ul a,
  .nav__mobile .nav__mobile-ul i {
    cursor: pointer;
    color: var(--color-white);
    font-weight: 400;
  }

  .nav__mobile .nav__mobile-ul i {
    margin: 1rem;
  }

  .nav__mobile ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }
 
  .team__card {
    height: 30rem;
    width: 20rem;
    margin: 2rem;
  }

  .face-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .sprocket-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .viewing-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .concrete-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }

  .features-box {
    display: inline-block;
    align-items: center;
  }

  .features-box .features-box-text {
    text-align: center;
  }

  .edward-box {
    display: inline-block;
  }

}

/* Media Queries - Mobile Devices */
@media (max-width: 500px) {
  .header .logo-box ul {
    display: none;
  }

  .header .logo-box img {
    height: 3rem;
  }
  
  .team__card {
    height: 36rem;
    width: 28rem;
    margin: 4rem;
  }

  .face-container {
    display: inline-block;
  }

  .sprocket-container {
    display: inline-block;
  }

  .viewing-container {
    display: inline-block;
  }

  .concrete-container {
    display: inline-block;
  }

  .features-box {
    display: inline-block;
    align-items: center;
  }

  .features-box .features-box-text {
    text-align: center;
  }

  .edward-box {
    display: inline-block;
  }

 
  .hamburger {
    display: block;
    color: var(--color-black);
    margin-left: 0rem;
  }

  .hamburger-bars {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .nav__ul {
    display: none;
    position: relative;
  }

  .nav__mobile .nav__mobile-ul {
    display: none;
  }

  .nav__mobile .nav__mobile-ul.active {
    display: block;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav .hamburger {
    display: flex;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-white);
  }

  .nav .hamburger .hamburger-bars {
    align-self: right;
  }

  .nav__mobile {
    display: block;
    background-color: var(--color-grey-medium-1);
  }

  .nav__mobile ul {
    position: relative;
  }

  .nav__mobile .nav__mobile-ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 400;
    color: var(--color-black);
    font-size: var(--default-font-size);
  }

  .nav__mobile .nav__mobile-ul a,
  .nav__mobile .nav__mobile-ul i {
    cursor: pointer;
    color: var(--color-white);
    font-weight: 400;
  }

  .nav__mobile .nav__mobile-ul i {
    margin: 1rem;
  }

  .nav__mobile ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }

}
