/* CSS Variables */
:root {
  --color-primary: #e9a7a7;
  --color-secondary: #e9a7a7;
  --color-third: #1e2a4d;
  --color-highlight: #000f3c;

  --color-grey-light-1: #f3f3f3;
  --color-grey-medium-1: #c9c9c9;
  --color-grey-dark-1: #777;
  --color-white: #fff;
  --color-black: #000;

  --bg-gradient-primary: linear-gradient(to right bottom, #c1272d,#ff0000);
  --bg-gradient-secondary: linear-gradient(to right bottom, #fff, #f9f9f9);


  --default-font-size: 1.6rem;

  /* --box-shadow-1: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); */
  --box-shadow-1: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* line-height: 2.5rem; */
  font-family: 'Montserrat', sans-serif;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Setting root font-size for easy conversion of measurements and media queries 
  1rem = 10px */
html {
  font-size: 62.5%;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 6rem;
  overflow: hidden;
}

/* Buttons */
.btn:link,
.btn:visited {
  text-transform: none;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  /* border-radius: 10rem; */
  transition: all 0.2s;
  position: relative;
  font-weight: 700;
  font-size: 1.7rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--one {
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 2px solid var(--color-black);
  background-color: transparent;
  color: var(--color-black);
  font-size: 1.25rem;
  /* font-style: italic; */
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  transition: all 0.5s ease;
  transform: translateY(-3px);
  opacity: 0.9;
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); */
}
.btn--one:hover {
  /* opacity: 0.6; */
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Underlines */
.vl {
  border: px solid var(--color-black);
  height: 100%;
  justify-self: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.u-margin {
  margin: 2rem 6rem 2rem 7rem;
}

.underline {
  height: 2px;
  width: 10rem;
  background: var(--color-black);
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
}

.underline-2 {
  height: 2px;
  width: 10rem;
  background: var(--color-secondary);
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
}

.underline-l {
  height: 2px;
  width: 10rem;
  background: var(--color-secondary);
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 4rem;
}

.underline-r {
  height: 2px;
  width: 10rem;
  background: var(--color-secondary);
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
}

.header {
  height: 100vh;
  /* background-color: blue; */
  position: relative;
  background-image: url(../img/edward-background-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-box img {
  height: 6vh;
  margin: 3rem 0rem;
}

/* .header-box a {
  color: var(--color-white);
}
.header-box a:hover {
  color: var(--color-secondary);
} */

ul {
  display: flex;
  list-style: none;
  color: var(--color-white);
  transition: all 0.5s ease;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style: none;
  letter-spacing: 1.5px;
  padding: 0rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

a {
  color: var(--color-black);
  display: inline-block;
  list-style: none;
  transition: all 0.5s ease;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: var(--color-grey-medium-1);
}

.header-box {
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
  margin-bottom: 2rem;
  /* transform: translate(-50%, -50%); */
/*   justify-content: center; */
}

.header-box h1 {
  color: var(--color-black);
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.header-box p {
  color: var(--color-black);
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

/* Top Strip */
.strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}

.strip h4 {
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: center;
  padding: 0rem 1rem;
}

.strip h3 {
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  padding: 0rem 2rem;
}

.strip .fab {
  color: var(--color-white);
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 1rem 0rem 1rem;
}

.strip .fab:hover {
  color: var(--color-secondary);
}

.strip a {
  list-style: none;
  font-size: 2rem;
  color: var(--color-white);
  transition: all 0.5s ease;
  text-decoration: none;
}

.strip a:hover {
  color: var(--color-black);
}

/* Overview */
.overview {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #f7f7f7;
}

.overview h2 {
  font-size: 3rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.overview h2 span {
  font-size: 4rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: none;
}

.overview h4 {
  font-size: 2rem;
  color: var(--color-black);
  text-align: center;
}

.overview p {
  color: var(--color-grey-dark-1);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
}

/* edward */
.edward {
  position: relative;
  /* padding: 2rem 0; */
  background-color: var(--color-white);
  /* background-size: cover; */
}
  
.edward-box {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}
  
.edward-box .edward-box-header {
  flex: 1;
  flex-basis: 50%;
  text-align: center;
  margin: 0 4rem;
}
  
.edward-box .edward-box-text {
  flex: 2;
  flex-basis: 50%;
  text-align: center;
  margin: 0 0rem;
}

.edward-box h2 {
  color: var(--color-black);
  text-align: left;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.edward-box h3 {
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 3rem 0;
  font-weight: 600;
}

.edward-box p {
  color: var(--color-black);
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.edward-box a {
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.edward-box a:hover {
  opacity: 0.2;
}

.resize {
    width: 400px;
    height: auto;
}

.resize2 {
  width: 40px;
  height: auto;
}

  /* Features */

.features {
  position: relative;
  /* padding: 4rem 0; */
  background-color: var(--color-black);
  /* background-size: cover; */
}
  
.features-box {
  display: flex;
  /* flex-direction: column; */
  padding: 4rem 0;
  justify-content: space-evenly;
  align-items: center;
}
  
.features-box .features-box-image {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-basis: 50%;
  margin: 0 4rem;
}
  
.features-box .features-box-text {
  flex: 2;
  flex-basis: 50%;
  margin: 0 4rem;
}
  
.features-box .features-box-text h2 {  
  color: var(--color-white);
  text-align: left;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.features-box .features-box-text h2 span {
  font-weight: 200;
}
  
.features-box .features-box-text p {
  color: var(--color-white);
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.features-box .features-box-text a {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.features-box .features-box-text a:hover {
  opacity: 0.2;
}

/* .features-box .features-box-text a {
  display: block;
  color: var(--color-black);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.6;
}

.features-box .features-box-text a:hover {
  color: var(--color-black);
} */
  
.features-box .features-box-image img {
    border: 2px solid var(--color-black);
    width: 400px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  /* Features-2 */

  .features-2 {
    position: relative;
    /* padding: 4rem 0; */
    background-image: var(--bg-gradient-secondary);
    /* background-size: cover; */
  }
    
  .features-2-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
    
  .features-2-box .features-2-box-image {
    flex: 1;
    flex-basis: 50%;
    margin-right: 2rem;
    padding: 2rem;
  }
    
  .features-2-box .features-2-box-text {
    flex: 2;
    flex-basis: 50%;
    padding: 2rem;
  }
    
  .features-2-box .features-2-box-text h2 {  
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: 400;
  }
  
  .features-2-box .features-2-box-text h2 span {
    color: var(--color-secondary);
    font-style: italic;
  }
    
  .features-2-box .features-2-box-text p {
    color: var(--color-grey-medium-1);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 3rem;
  }
  
  /* .features-2-box .features-2-box-text a {
    display: block;
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
  }
  
  .features-2-box .features-2-box-text a:hover {
    color: var(--color-grey-light-1);
  } */
    
  .features-2-box .features-2-box-image img {
    width: 100%;
  }

/* Showcase */
.showcase {
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url(../img/recruitment-01.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.showcase .card {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-light-1);
  height: 100%;
  border: 2px;
  border-style: solid;
  border-color: var(--color-black);
}

.showcase .card .card-text {
  text-align: center;
}

.showcase .card .card-text .card-img img{
  text-align: center;
  width: 33.3%;
  margin-bottom: 3rem;
}

.showcase .card .card-text h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--color-black);
}

.showcase .card .card-text h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 3rem;
  color: var(--color-secondary);
}

.showcase .card .card-text p{
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  padding: 0 4rem;
  margin-bottom: 3rem;

}

.showcase .card .card-text a{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 3rem;
  color: var(--color-secondary);
}

.showcase .card .card-text a:hover{
  color: var(--color-black);
}

.showcase .card .card-text .fas {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 3rem;
  color: var(--color-secondary);
}

  /* Steps */
  .step {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 4rem 0;
    background-image: url(../img/f1f1f1\ background-01.jpg);
  }

  .step h4 {
    font-size: 2.5rem;
    color: var(--color-third);
    text-align: center;
    margin: 2rem 0;
  }

  .step p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.6;
    color: var(--color-grey-dark-1);
    text-align: left;
    margin: 6rem 8rem;
  }

  .step-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: auto;
    justify-items: center;
  }
  
  .step-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .step-item img {
    width: 100%;
  }

  .step .step-flexbox {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
  }
  
  .step .step-flexbox h2 {
    color: var(--color-third);
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
  }
  
  .step .step-flexbox h2 span {
    color: var(--color-secondary);
  }
  
  .step .step-flexbox a {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-secondary);
    line-height: 1.6;
    letter-spacing: 1px;
  }
  
  .step .step-flexbox a:hover {
    color: var(--color-white);
  }



  /* Values */
  .values {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--color-white);
  }

  .values h4 {
    font-size: 2rem;
    color: var(--color-third);
    text-align: center;
    margin-bottom: 2rem;
  }

  .values p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.6;
    color: var(--color-grey-dark-1);
    text-align: left;
    margin: 6rem 8rem;
  }

  .values .fas {
    font-size: 6rem;
    letter-spacing: 1px;
    line-height: 1.6;
    background-image: var(--bg-gradient-primary);
    -webkit-background-clip: text;
    color: transparent;
    text-align: left;
    margin-top: 2rem;
  }

  .values-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10rem;
    justify-items: center;
  }
  
  .values-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .values-item img {
    width: 100%;
  }

/* Face Off */
.face {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--color-white);
  padding: 4rem 0;
}

.face h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.face h2 span {
  font-weight: 200;
}

.face h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.face p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.face-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.face-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.face-item img {
  /* width: 100%; */
  border: 1px solid var(--color-grey-light-1);
  width: auto;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Simple Sprocket */
.sprocket {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: var(--bg-gradient-secondary);
  padding: 4rem 0;
}

.sprocket h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.sprocket h2 span {
  font-weight: 200;
}

.sprocket h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.sprocket p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.sprocket-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.sprocket-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.sprocket-item img {
  /* width: 100%; */
  border: 1px solid var(--color-grey-light-1);
  width: 250px;
  height: 250px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Viewing Devices */
.viewing {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--color-white);
  padding: 4rem 0;
}

.viewing h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.viewing h2 span {
  font-weight: 200;
}

.viewing h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.viewing p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.viewing-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.viewing-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.viewing-item img {
  /* width: 100%; */
  border: 1px solid var(--color-grey-light-1);
  width: 275px;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Concrete */
.concrete {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: var(--bg-gradient-secondary);
  padding: 4rem 0;
}

.concrete h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.concrete h2 span {
  font-weight: 200;
}

.concrete h4 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  text-align: center;
}

.concrete p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.concrete-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.concrete-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2rem; */
  text-align: center;
  margin: 4rem 0;
}

.concrete-item img {
  /* width: 100%; */
  /* border: 2px solid var(--color-black); */
  width: auto;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Grid */
.grid {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--color-white);
}

.grid h2 {
  font-size: 4rem;
  color: var(--color-black);
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.grid h2 span {
  font-size: 4rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: none;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: auto;
  justify-items: center;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img {
  width: 100%;
}

/* Gallery */
.gallery {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #f2f2f2;
}

.gallery h2 {
  font-size: 4rem;
  color: var(--color-black);
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.gallery h2 span {
  font-size: 4rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: none;
}

.gallery-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: auto;
  justify-items: center;
}

.gallery-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
}

.covid {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 1rem 0;
}
.covid h4 {
  display: flex;
  text-align: center;
  color: var(--color-white);
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: 0.2rem;
}

/* Services */
.services {
  background-image: var(--bg-gradient-secondary);
  position: relative;
  padding: 4rem 0;
}

.services__cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.services__card {
  background-color: var(--color-third);
  height: 40rem;
  width: 34rem;
  margin: 4rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.services__card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.services__card-img img {
  width: 100%;
}

.services .tertiary-heading {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 900;
  padding: 0 2rem;
  text-align: left;
  text-transform: none;
  margin: 0 3rem 2rem 3rem;
  letter-spacing: 1.5px;
}

.services__card-text {
  font-size: 2rem;
  font-family: inherit;
  color: var(--color-white);
  letter-spacing: 1px;
  padding: 0 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.services .services__card p {
  font-size: 1.5rem;
  color: var(--color-grey-medium-1);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin: 0 3rem 2rem 3rem;
  padding: 0rem 2rem;
}

.services .services__card a {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-white);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0 3rem 2rem 3rem;
  padding: 0rem 2rem;
}

.services .services__card a:hover {
  color: var(--color-secondary);
}

.services .services__card .fas {
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: left;
  line-height: 1.6;
  margin: 2rem 3rem 1rem 3rem;
  letter-spacing: 1px;
  padding: 0rem 2rem;
}

.services a {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--color-secondary);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-left: 4rem;
}

/* Content */
.content {
  display: flex;
  color: #ffff;
  margin: 2rem 4rem 4rem 4rem;
}

.content p {
  flex: 0 0 70%;
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0 3rem;
  
}

.content a {
  flex: 0 0 70%;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-align: right;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0 3rem;
}

.content a:hover {
  color:var(--color-third);
}

.content h2 {
  flex: 0 0 30%;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-white);
}

.content h2 span {
  color: var(--color-secondary);
}




.content-2 {
  display: flex;
  color: #ffff;
  margin: 2rem 4rem 3rem 4rem;
}

.content-2 p {
  flex: 0 0 70%;
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0 3rem;
  
}

.content-2 a {
  flex: 0 0 70%;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-align: right;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0 3rem;
}

.content-2 a:hover {
  color:var(--color-third);
}

.content-2 h2 {
  flex: 0 0 30%;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-highlight);
}

.content-2 h2 span {
  color: var(--color-secondary);
}



.flexbox-container-se {
  display: flex;
  justify-content: space-evenly; 
  margin: 2rem 0;

}

.flexbox-container-sb {
  display: flex;
  justify-content: space-between; 
}

.flexbox-container-se h2 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-white);
  text-align: left;
  margin-left: 4rem;
}

.flexbox-container-se h2 span {
  color: var(--color-secondary);
}

.flexbox-container-se p {
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-right: 6rem;
}

.flexbox-container-se a {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--color-secondary);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.flexbox-container-se a:hover {
  color: var(--color-white);
}

.services .services-flexbox {
  display: flex;
  justify-content: space-evenly; 
}

.services .services-flexbox p {
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-right: 8rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.services .services-flexbox a {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--color-secondary);
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.services .services-flexbox a:hover {
  color: var(--color-white);
}

.services__card .btn--secondary {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1.5rem 4rem;
  font-weight: lighter;
  font-size: 2.25rem;
  text-align: center;
  text-transform: none;
  align-items: center;
  transition: all 0.5s;
  /* z-index: 1; */
}

.services__card .btn--secondary:hover {
  display: flex;
  justify-content: center;
  background: var(--color-secondary);
  opacity: 0.9;
  color: var(--color-white);
  padding: 1.5rem 4rem;
  font-weight: lighter;
  font-size: 2.5rem;
  text-transform: none;
  text-align: center;
  align-items: center;
  transition: all 0.5s;
  /* z-index: 1; */
}

/* Team */
.team {
  background-image: var(--bg-gradient-secondary);
  position: relative;
  padding: 4rem 0;
}

.team h2 {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.team h2 span {
  font-weight: 200;
}

.team__cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.team__card {
  background-color: var(--color-white);
  height: 30rem;
  width: 24rem;
  margin: 4rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.team__card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.team__card-img {
  width: 100%;
  text-align: center;
  border-radius: 50%;
  margin: 4rem 0;
}

/* .team__card-img img{
  width: 50%;
  text-align: center;
  border-radius: 50%;
} */

.team .tertiary-heading {
  color: var(--color-black);
  font-size: 2.25rem;
  font-weight: 700;
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
}

.team__card-text {
  font-size: 2rem;
  font-family: inherit;
  color: var(--color-white);
  letter-spacing: 1px;
  padding: 0 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.team .team__card p {
  display: block;
  font-size: 1.5rem;
  color: var(--color-black);
  text-align: center;
  line-height: 1.6;
  padding: 0 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.team .team__card a {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1px;
}

.team .team__card a:hover {
  color: var(--color-grey-medium-1);
}

/* Testimonials */
.section-testimonials {
  display: flex;
  position: relative;
  padding: 4rem 0;
  margin: 0 4rem;
  background-color: var(--color-white);
}

.section-testimonials h2 {
  color: var(--color-black);
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.section-testimonials h2 span {
  color: var(--color-secondary);
}
.section-testimonials .testimonials {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.section-testimonials .testimonials__item {
  padding: 0 4rem;
  position: relative;
}
.section-testimonials .testimonials__item .fa-quote-left {
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  color: var(--color-grey-light-1);
  position: relative;
  /* opacity: 0.5; */
  /* z-index: 1; */
  margin-bottom: 2rem;
}
.section-testimonials .testimonials__text p {
  color: var(--color-black);
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.section-testimonials .testimonials h4 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-grey-medium-1);
}

/* About */
.about {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: var(--bg-gradient-primary);
}

.about h2 {
  font-size: 4rem;
  color: var(--color-white);
  text-align: center;
  text-transform: none;
}

.about h2 span {
  font-size: 4rem;
  color: var(--color-white);
  text-align: center;
  text-transform: none;
}

.about h4 {
  font-size: 2rem;
  color: var(--color-grey-light-1);
  text-align: center;
}

.about p {
  font-size: 2rem;
  color: var(--color-white);
  text-align: center;
}

  /* Contact */
  .section-contact {
    position: relative;
    background: #f9f9f9;
    padding: 4rem 0;
  }
  .section-contact h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
  }
  .section-contact h2 span{
    color: var(--color-grey-medium-1);
  }
  .section-contact .contact__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin-right: 1rem;
    margin-left: 1rem; */
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .section-contact .contact__cards-card {
    background-color: var(--color-white);
    /* width: 35rem;
    height: 20rem; */
    text-align: center;
    height: 24rem;
    flex-basis: 30rem;
    box-sizing: border-box;
    padding: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 3rem;
    transition: ease-in 0.3s;
    border-bottom: 3px solid var(--color-grey-light-1);
  }
  .section-contact .contact__cards-card:hover {
    transform: scale(1.1);
  }
  .section-contact .contact__cards-card .fas {
    padding: 2rem 0;
    color: var(--color-grey-medium-1);
  }
  .section-contact .contact__cards-card h3 {
    font-size: 2rem;
    color: var(--color-grey-medium-1);
    letter-spacing: 1px;
    /* padding: 0 2rem; */
    /* padding-bottom: 1rem; */
    text-transform: uppercase;
  }
  .section-contact .contact__cards-card p {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-grey-medium-1);
    letter-spacing: 1px;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .section-contact .contact__form-grp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 2rem;
    justify-content: left;
    align-items: left;
  }
  .section-contact .contact__form-grp ::placeholder {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-grey-medium-1);
  }
  .section-contact .contact__form-grp label {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-black);
    margin-bottom: 0.5rem;
    align-self: center;
  }
  .section-contact .contact__form-grp input[type="text"] {
    height: 4.5rem;
    width: 100%;
    flex: 1;
    border: 1px solid #a5a5a5;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    outline: none;
    padding: 0 1rem;
    margin-bottom: 3rem;
  }
  .section-contact .contact__form-grp input[type="text"]:focus {
    border: 1px solid var(--color-secondary);
    width: 50%;
  }
  .section-contact .contact__form-grp textarea {
    height: 13.5rem;
    width: 100%;
    flex: 1;
    font-size: 1.6rem;
    font-family: inherit;
    border: 1px solid var(--color-grey-light-1);
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 4rem;
  }
  
  .section-contact .contact__form-grp input[type="submit"] {
    height: 4rem;
    width: 100%;
    display: block;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid #a5a5a5;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    outline: none;
    padding: 0 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }
  .section-contact .contact__form-grp textarea:focus {
    border: 1px solid var(--color-secondary);
  }
  .section-contact .contact__form-grp .recap {
    margin: 0 0 4rem 0;
  }
  .fa-briefcase:before {
    content: "\f0b1";
  }

/* Colorlib Contact Form */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.contact-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contact-container-2 {
  display: none;
}

.contact-container-3 {
  /* max-width: 400px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: none;
}
.contact-container-4 {
  /* max-width: 400px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 40px;
  margin: 2rem 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  color: var(--color-secondary);
  display: block;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: none;
}

#contact h4 {
  color: var(--color-primary);
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid var(--color-primary);
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--color-secondary);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--color-secondary);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--color-primary);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: var(--color-primary);
}

:-moz-placeholder {
  color: var(--color-primary);
}

::-moz-placeholder {
  color: var(--color-primary);
}

:-ms-input-placeholder {
  color: var(--color-primary);
}

/* Footer */
.footer {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 4rem 0;
  background-color: var(--color-black);
  /* border-top: 2px solid var(--color-grey-light-1); */
}

.footer h4 {
  color: var(--color-grey-medium-1);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.footer p {
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer a {
  color: var(--color-grey-light-1);
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.footer a:hover {
  color: var(--color-secondary);
}

.footer-container {
  position: relative;
  display: flex;
  /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: auto;
    justify-items: center; */
}

.footer-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 0 4rem;
  font-size: 30px;
  text-align: center;
}

.footer-item img {
  display: flex;
  justify-content: center;
  width: 10%;
}

/* .footer .btn--one {
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.footer .btn--one:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
} */

.footer-item img {
  width: 100%;
}
